.animatedTitle {
  display: flex;
  align-items: baseline;
  gap: 8px;
  font-size: 2.5rem;
  font-weight: 900;
}

.index {
  color: #64ffda; // мисалы жашыл индекс
  font-size: 1rem;
}

.letter {
    display: inline-block;
  color: #64ffda; 
  text-shadow: 0 0 8px #64ffda, 0 0 16px #00ffaa;
}







// .light {
//   background: linear-gradient(90deg, #64ffda, #0af);
//   -webkit-background-clip: text;
//   -webkit-text-fill-color: transparent;
//   transition: background-position 0.5s;
//   background-size: 200%;
//   background-position: left;
// }

// .light:hover {
//   background-position: right;
// }




