.projects {
  padding-block: 7rem;
  width: 100%;
  min-height: 80vh;
  .title {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .content {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 6rem; // блоктордун аралыгы
    .project {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 74%;
      gap: 2rem;
      &:nth-child(odd) {
        flex-direction: row; // сүрөт оң жакта, текст сол жакта
      }

      &:nth-child(even) {
        flex-direction: row-reverse; // сүрөт сол жакта, текст оң жакта
      }
      .img {
        z-index: 1;
        width: 32rem;
        aspect-ratio: 500 / 280;
        overflow: hidden;
      }
      .info {
        flex-shrink: 0;
        width: 34rem;
        padding: 2rem;
        background: #002f3486;
        backdrop-filter: blur(6px);
        border-radius: 16px;
        color: #fff;
        margin-top: 6rem; // тепкич эффект
        h3 {
          font-size: 1.6rem;
          margin-bottom: 1rem;

          background: linear-gradient(
            90deg,
            rgba(131, 58, 180, 1) 0%,
            rgba(253, 29, 29, 1) 50%,
            rgba(252, 176, 69, 1) 100%
          );

          background-clip: text;
          -webkit-background-clip: text;
          color: transparent;
        }

        p {
          font-size: 0.9rem;
          font-weight: 100;
          line-height: 24.4px;
          color: rgb(200, 200, 200);
          margin-bottom: 1.5rem;
        }

        .links {
          .toFilm {
            position: relative;
            display: flex;
            gap: 1rem;
            width: 6rem;
            a {
              width: 2rem;
              height: 2rem;
              display: flex;
              align-items: center;
              justify-content: center;
              transition: transform 0.3s ease;
            }

            a:first-child {
              color: #64ffda;
              &:hover {
                transform: translateY(-0.13rem);
              }
            }

            .github {
              color: #64ffda;

              &:hover {
                transform: translateY(-0.13rem);
              }
            }
            &::after {
              content: "";
              position: absolute;
              right: -100%;
              top: 45%;
              width: inherit;
              height: .8px;
              border: none;
              background:  #64ffda;
            }
          }
          .icons {
            position: absolute;
            right: 0%;
            bottom: 8%;
            display: flex;
            align-items: center;
            .icon:nth-child(1) {
              display: flex;
              align-items: center;
              justify-content: start;
              gap: 6px;
              height: 40px;
              background: rgb(3, 89, 118);
              border-radius: 20px;
              width: 40px;
              overflow: hidden;
              transition: 0.3s ease;
              span {
                flex-shrink: 0;
                display: flex;
                align-items: center;
                justify-content: center;
                width: 40px;
                height: 100%;
                background: rgb(3, 89, 118);
                color: white;
                border-radius: 50%;
                font-size: 2rem;
              }
              h4 {
                flex-shrink: 0;
                font-size: 0.9em;
                font-weight: 300;
                color: #f2f2f2;
              }
              &:hover {
                width: 150px;
              }
            }
            .icon:nth-child(2) {
              transform: translateX(-10px);
              display: flex;
              align-items: center;
              justify-content: start;
              gap: 6px;
              height: 40px;
              background: rgb(149, 2, 132);
              border-radius: 20px;
              border: none;
              width: 40px;
              overflow: hidden;
              transition: 0.3s ease;
              span {
                flex-shrink: 0;
                display: flex;
                align-items: center;
                justify-content: center;
                width: 40px;
                height: 100%;
                background: rgb(149, 2, 132);
                color: white;
                border-radius: 50%;
                font-size: 2rem;
              }
              h4 {
                flex-shrink: 0;
                font-size: 0.9em;
                font-weight: 300;
                color: #f2f2f2;
              }
              &:hover {
                width: 88px;
              }
            }
            .icon:nth-child(3) {
              transform: translateX(-20px);
              display: flex;
              align-items: center;
              justify-content: start;
              gap: 6px;
              height: 40px;
              background: #080101;
              border-radius: 20px;
              border: none;
              width: 40px;
              overflow: hidden;
              transition: 0.3s ease;
              span {
                flex-shrink: 0;
                display: flex;
                align-items: center;
                justify-content: center;
                width: 40px;
                height: 100%;
                background: black;
                color: white;
                border-radius: 50%;
              }
              h4 {
                flex-shrink: 0;
                font-size: 0.9em;
                font-weight: 300;
                color: #f2f2f2;
              }
              &:hover {
                width: 128px;
              }
            }
            .icon:nth-child(1):hover ~ .icon:nth-child(2) {
              transform: translateX(0);
            }
            .icon:nth-child(2):hover ~ .icon:nth-child(3) {
              transform: translateX(-10px);
            }
          }
        }
      }
    }
  }
}
