.contact {
  padding-block: 2rem;
  width: 100%;
  min-height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #001c34;
  color: #fff;
  @media (max-width: 768px) {
    padding-block: 3rem;
    min-height: 60vh;
  }
  
  .title {
    text-align: center;
    margin-bottom: 3rem;
    @media (max-width: 768px) {
      margin-bottom: 1rem;
    }
    .animatedTitle {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 1.6rem;
      @media (max-width: 768px) {
        margin-bottom: 1rem;
      }
    }

    p {
      color: #f77635;
      font-size: 1.1rem;
      @media (max-width: 768px) {
        font-size: 0.8rem;
      }
    }
  }

  .form {
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    @media (max-width: 768px) {
      max-width: 400px;
    }
     @media (max-width: 432px) {
      max-width: 300px;
    }
    
    input,
    textarea {
      padding: 1rem;
      border-radius: 8px;
      border: none;
      outline: none;
      // background: #002f34;
      background: rgb(216, 216, 216);
      // color: #fff;
      color: #001c34;
      font-size: 1rem;
      resize: none;
      transition: 0.3s ease;
      @media (max-width: 768px) {
        border-radius: 0.4rem;
        height: 40px;
      }
       @media (max-width: 432px) {
        border-radius: 0.3rem;
        height: 38px;
      }
      
      &:focus {
        box-shadow: 0 0 0 2px #13f3bf;
      }
    }

    textarea {
      height: 150px;
    }

    button {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0 auto;
      background: #13f3bf;
    }
  }
}
