.header {
  width: 100%;
  height: 80px;
  background: #001c3485;
  backdrop-filter: blur(10px);
  padding-top: 24px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  transition: all 0.3s ease;
  @media (max-width: 768px) {
    padding-inline: 1rem;
    height: 70px;
  }
  @media (max-width: 572px) {
    height: 56px;
  }
   @media (max-width: 452px) {
    height: 46px;
    padding-top: 8px;
  }
  
  &.scrolled {
    height: 70px;
    padding-inline: 4rem;
    padding-top: 12px;
    background: #04334ba3;
    @media (max-width: 768px) {
      padding-inline: 2rem;
      height: 60px;
    }
    @media (max-width: 572px) {
      height: 50px;
    }
     @media (max-width: 452px) {
      height: 46px;
    }
    
  }
  .content {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .desktopLogo {
      display: flex;
      align-items: center;
      justify-content: start;
      width: 16.2vw;
      height: 6vh;
      color: white;
      cursor: pointer;
      font-size: 2rem;
      font-weight: 700;
      span {
        color: #00ffcc;
      }
      transition: transform 0.3s ease;
      &:hover {
        transform: scale(1.05);
      }
      @media (max-width: 572px) {
        width: 7vw;
        height: 2vh;
        font-size: 1.7rem;
      }
    }

    .right {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      gap: 2rem;
      position: relative;
      width: 14vw;
      height: 7vh;
      @media (max-width: 768px) {
        display: none;
      }
      &::before {
        content: "";
        position: absolute;
        left: 0;
        width: 1px;
        height: 82%;
        background: white;
        border: none;
      }
      nav {
        display: flex;
        align-items: center;
        gap: clamp(1.875rem, -2.366rem + 8.28vw, 3.2rem);
        margin-right: 6rem;
        a {
          display: flex;
          align-items: end;
          gap: 0.1rem;
          position: relative;
          font-size: clamp(0.719rem, 0.377rem + 0.71vw, 0.9rem);
          color: white;
          text-decoration: none;
          transition: color 0.3s ease;
          font-weight: 100;
          span {
            font-size: 0.7rem;
            color: #167ae8;
          }
        }

        &:has(a:hover) a:not(:hover) {
          color: rgb(164, 164, 164);
        }
      }
    }
    //mobileresponsive menu start
    .mobileMenu_block {
      display: none;
      @media (max-width: 768px) {
        display: flex;
      }
      .container input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
      }
      .container {
        position: relative;
        cursor: pointer;
        font-size: 20px;
        user-select: none;
      }
      .checkmark {
        position: relative;
        top: 0;
        left: 0;
        height: 1.3em;
        width: 1.3em;
      }
      .checkmark span {
        width: 32px;
        height: 2px;
        background-color: rgb(224, 222, 222);
        position: absolute;
        transition: all 0.3s ease-in-out;
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -ms-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        @media (max-width: 572px) {
          width: 26px;
          height: 1.4px;
        }
      }
      .checkmark span:nth-child(1) {
        top: 10%;
        @media (max-width: 572px) {
          top: 20%;
          
        }
      }
      .checkmark span:nth-child(2) {
        top: 50%;
        @media (max-width: 572px) {
          top: 50%;
          height: .8px;

        }
      }
      .checkmark span:nth-child(3) {
        top: 90%;
        @media (max-width: 572px) {
          top: 78%;
          height: .8px;
        }
      }
      .container input:checked + .checkmark span:nth-child(1) {
        top: 50%;
        transform: translateY(-50%) rotate(45deg);
        -webkit-transform: translateY(-50%) rotate(45deg);
        -moz-transform: translateY(-50%) rotate(45deg);
        -ms-transform: translateY(-50%) rotate(45deg);
        -o-transform: translateY(-50%) rotate(45deg);
      }
      .container input:checked + .checkmark span:nth-child(2) {
        top: 50%;
        transform: translateY(-50%) rotate(-45deg);
        -webkit-transform: translateY(-50%) rotate(-45deg);
        -moz-transform: translateY(-50%) rotate(-45deg);
        -ms-transform: translateY(-50%) rotate(-45deg);
        -o-transform: translateY(-50%) rotate(-45deg);
      }
      .container input:checked + .checkmark span:nth-child(3) {
        transform: translateX(-50px);
        -webkit-transform: translateX(-50px);
        -moz-transform: translateX(-50px);
        -ms-transform: translateX(-50px);
        -o-transform: translateX(-50px);
        opacity: 0;
      }
    }
    //mobileresponsive menu end
  }
  .headerScrollBar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 2px; // жука scrollbar
    z-index: 9999;
    background: transparent;

    .scroll_Bar {
      height: 100%;
      width: 0; // JS аркылуу толукталат
      background-color: #7800d4;
      transition: width 0.2s ease;
    }
  }
}
