.resumeButton {
  margin-left: 1rem;
  font-family: var(--font-jetbrains-mono), monospace;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: clamp(0.4rem, -0.572rem + 2.03vw, 1.2rem);
  color: white;
  width: 10vw;
  height: 6vh;
  font-size: clamp(0.75rem, 0.446rem + 0.63vw, 1rem);
  border: none;
  border-radius: 5px;
  background: rgb(4, 204, 154);
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  .text,
  .icon {
    position: relative;
    z-index: 2;
    font-weight: 200;
    color: rgb(55, 14, 73);
  }
  &::before{
    content: "";
    position: absolute;
    width: 100px;
    height: 100%;
      background-image: linear-gradient(
    120deg,
    rgba(255, 255, 255, 0) 30%,
    rgba(255, 255, 255, 0.8),
    rgba(255, 255, 255, 0) 70%
  );
    top: 0;
  left: -100px;
  opacity: 0.6;
  }
  &:hover::before {
    animation: shine 1.5s ease-in-out infinite;
  }
}
@keyframes shine {
  0% {
    left: -100px;
  }

  60% {
    left: 100%;
  }

  to {
    left: 100%;
  }
}
