.skils {
  padding: 10rem 0;
  color: #fff;

  h2 {
    font-size: 2.5rem;
    text-align: center;
  }
  .content {
    .top {
      display: flex;
      justify-content: space-between;
      padding-left: 5rem;
    }

    .mainContent {
      margin-top: 4rem;
      display: flex;
      flex-direction: column;
      gap: 2rem;
      .mainTop {
        flex-shrink: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        .img{
          cursor: pointer;
        }
      }
      .mainBottom {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        flex-shrink: 0;
        .img{
          cursor: pointer;
        }
      }
    }
  }
}
