.skils {
  padding: 10rem 0;
  color: #fff;

  h2 {
    font-size: 2.9rem;
    text-align: center;
    font-weight: 300;
    color: #13b4f3;
  }

  .content {
    .top {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-inline: 5rem;
      position: relative;
    }

    .mainContent {
      margin-top: 4rem;
      display: flex;
      flex-direction: column;
      gap: 2rem;
    }
  }
}

/* marquee slider */
.slider {
  overflow: hidden;
  white-space: nowrap;
  display: flex;
  width: 100%;

  .track {
    display: flex;
    gap: 20px;
  }

  img {
    width: 320px;
    height: 120px;
    object-fit: cover;
    border-radius: 10px;
    cursor: pointer;
  }
}

/* animation */
.right {
  animation: scroll-right 32s linear infinite;
}

.left {
  animation: scroll-left 32s linear infinite;
}

@keyframes scroll-right {
  from {
    transform: translateX(-50%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes scroll-left {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}
